/* configuração geral */
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    }
    
    html, body{
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/background.jpg");
    }

    body{
        display: flex;
        justify-content: center;
    }

    h1{
        text-align: center;
        padding: 20px;
        animation-name: entraTit;
        animation-duration: 3s;
    }
    
    main{ 
        display: flex;
        justify-content: center;
    
        flex-direction: column;
        height: auto;
    }
/* <<<<<<<<<<<< */



/* estilização div formulario */

#formulario{
    padding: 10px;
    border-radius: 5px;

    align-self: center;
    background: #A6A6A6;
    animation-name: entraForm;
    animation-duration: 1s;
}

fieldset{
    background: #ECECEC;
    padding: 15px;
    width: 650px;
    height: auto;
}

.subTitulos{
    font-size: 20px;
}
/* >>>>>>>>>>>>>>>>>>>>> */


/* estilização da entrada de texto do usuário */

#divEntrada{
    display: flex;
    flex-direction: column;
}

.inputEntrada{
    width: 640px;
    height: 40px;
    margin-top: 5px;
}
/* >>>>>>>>>>>>>>>>>>>>> */


#divMetodo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
}

select{
    display: flex;
    align-items: center;
}

.styleOption:hover{
    background: #000;
    color: #fafafa;
}

#divCifraCesar{
    margin: 10px;
    height: 30px;
}

/* estilização do input de incremento */


.labelAcresc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    animation-name: entraSuave;
    animation-duration: 1s;
}


/* >>>>>>>>>>>>>>>>>>>>> */

/* estilização do container de id checksBox */
#divRadio{
    display: flex;
    justify-content: space-around;
}

.checksBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 15px;
    height: 50px;
}

#checksbox label{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.lablsCodific{
    margin: 10px;
    width: 90px;
    display: flex;
    justify-content: space-between;
}

input[type='radio']{
    display: none;
}

.styleCheck{
    border: solid 2px #A6A6A6;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    
    background: #ECECEC;
    display: grid;
    place-content: center;
}

.styleCheck, span{
    transition: 0.6s ease;
    color:#000;
}

.styleCheck span{
    content: '';
    width: 8px;
    height: 8px;
    background: #A6A6A6;
    border-radius: 50%;
    display: flex;
}

input[type='radio']:checked + .styleCheck {
    border-color: #000;
  }
  
input[type='radio']:checked + .styleCheck span {
    background: #000;
}

/* >>>>>>>>>>>>>>>>>>>>> */

textarea{
    width: 640px;
    height: 150px;
    max-width: 640px;
    max-height: 150px;
    font-size: 20px;
}

/* estilização do botão de imprimir a coidificação */
#divButton{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button{
    padding: 7px;
    box-shadow: 20px, #000;
    width: px;
    height: 35px;
    border-radius: 10px;
}

button:hover{
    background: #A6A6A6;
    cursor: pointer;
    opacity: 0.5;
    color: #000;
}


/* animações do formulário */

@keyframes entraForm{
    from{
        opacity: 0;
        transform: translateX(-35%);
    }to{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes entraTit{
    from{
        opacity: 0;
        transform: translateX(-35%);
    }to{
        opacity: 1;
        transform: translate(0%);
    }
}

@keyframes entraSuave{
    from{
        opacity: 0;
        transform: scale(0.99.9);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes saiSuave{
    from{
        opacity: 1;
        transform: scale(1);
    }to{
        opacity: 0;
        transform: scale(0);
    }
}
/* <<<<<<<<<<<< */
